.container { 
    display: flex;
    flex-direction: column;
    height: 100vh;
}

ul {
    margin-left: 0; 
    padding-left: 40px;
}
li {
    list-style-type: none;
}

.jsonContainer {
    display: flex;
    justify-content: flex-start;
    margin: 0.25rem;
}

#value {
    color: rgb(20, 17, 18);
}

#key {
    color : rgb(129, 61, 73);
    padding-right: 1rem;
}
